*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

nav li {
    display: inline-block;
    font-size: 15px;
}

#logo {
    float: left;
}

nav ul{
    margin-top: 20px; 
    margin-right: 50px;
    padding: 10px;
    list-style: none;
    float: right;
    margin-left: 100px;
    margin-top: 10px;
    
}

header{
    overflow: hidden;
    background-color: rgba(6, 43, 255, 0.5);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}

header a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-left: 20px;
}

.container{
    /* transform: translateY(-50px); */
    text-align: center;
    padding: 20px;
    /* border: 2px solid tomato; */
}

.container h1{
    padding: 100px;
    /* border: 2px solid tomato; */
}

.container ul p{
    margin: 20px;
    padding: 20px;
    font-size: 12px;
}

.container img{
    width: 300px;
    position: relative;
}
.container ul li{
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}

footer{
    text-align: center;
}

.social{
    padding: 20px;
}

.social li{
    display: inline-block;
}

.social img{
    width: 50px;
}